<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group form-group">
    <%= form.text_field :emp_no, class: "form-control", placeholder: "employee no" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.text_field :name, class: "form-control", placeholder: "name" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.text_field :email, class: "form-control", placeholder: "email" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.text_field :phone, class: "form-control", placeholder: "phone" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.text_field :position, class: "form-control", placeholder: "position" %>
  </div>
  <br>
  <div class="actions form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
  <br>
<% end %>
